html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

html, body {
  overflow: hidden;
}

.is-fullheight {
  max-height: 100%;
  height: 100%;
}

.is-fullwidth {
  max-width: 100%;
  width: 100%;
}

.is-scrollable {
  overflow: auto;
}

.is-unscrollable {
  overflow: hidden;
}
